*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.fundo{
background-image: url(img/tdf.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-position: center;
height: 100vh;
overflow: hidden; 
}

.botao-imagem {
    width: 200px; /* definira largura */
    height: 100px; /* defini a altura*/
    background-image: url(img/boton.png); /* coloca o fundo transparente */
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;

    /* ajusta na posição que tu quer matheus/ */
}
  











  
